version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/database.sqlite:/app/database.sqlite
      - ./backend/uploads:/app/uploads
    env_file:
      - ./backend/.env
    environment:
      - PORT=5000

  frontend:
    build: ./frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
